select {
width:100%; 
height:35px; 
position:relative; 
border:none; 
cursor:pointer; 
opacity:0;
filter: alpha(opacity=0);
padding-left: 10px;
 box-sizing: border-box;
 font-size: 13px;
 color: #53a7bf;
 background-color: #171D23;
 outline: none;
 border: 1px solid transparent;
 option{
 	padding-left: 10px;
 	
 }
}
